.navbar {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
}

.navbarScroll {
    width: 100%;
}

.home {
    margin-left: 40px;
    margin-right: 40px;
}

.search {
    width: 3%;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 180%;
    border-color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}

.searchArea {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.searchArea:hover {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.details {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-login {
    padding: 6px 8px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border: none;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: helvetica, arial, sans-serif;
    font-size: 12pt;
    margin-right: 10px;
}

.nav-login:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.8);
}

.nav-signup {
    padding: 6px 8px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border: none;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: helvetica, arial, sans-serif;
    font-size: 12pt;
    margin-right: 10px;
}

.nav-signup:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.8);
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: #121010;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.rotate {
    margin-right: 158px;
}

/* for small devices */

.navbar-mob {
    margin-left: 1px;
}

.logo-mob {
    width: 40px;
}

.navbarScroll-mob {
    width: auto;
}

.home-mob {
    width: fit-content;
}

.search-mob {
    width: 20%;
    margin-left: 10px;
    border-radius: 180%;
    border-color: rgb(87, 78, 78);
}

.align-mob {
    width: 200px;
}

.searchArea-mob {
    width: 160px;
}