.navbar {
    width: auto;
    margin-left: 150px;
}

.navbarScroll {
    width: 100%;
}

.home {
    margin-left: 40px;
    margin-right: 40px;
}

.search {
    width: 20%;
    margin-left:10px;
    margin-right: 170px;
    border-radius: 180%;
    border-color: rgb(56, 52, 52);
}

.details {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
  
.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: #121010;
}
  
.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}


/* for small devices */

.navbar-mob {
    margin-left: 1px;
}
.logo-mob {
    width: 40px;
}
.navbarScroll-mob {
    width: auto;
}
.home-mob {
    width: fit-content;
}
.search-mob {
    width: 20%;
    margin-left:10px;
    border-radius: 180%;
    border-color: rgb(87, 78, 78);
}
.align-mob {
    width: 200px;
}
.searchArea-mob {
    width: 160px;
}
